# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build outputs
# Note: Keeping dist/ build/ ignored to keep the repo clean unless requested.
dist/
build/

# Ignore everything in root
/*
# But include the necessary project folders and files
!/frontend/
!/backend/
!/README.md
!/nettmobfrance_db_export.sql
!/.gitignore
!/backend/.env
!/backend/.env.production
!/backend/config/firebase-service-account.json
!/frontend/.env
!/frontend/.env.production

# OS Files
.DS_Store
Thumbs.db

*.mp4
*.tar.gz
*.zip
android_release/

# PIDs
*.pid
